<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
        <clear />
        <add name="ConcursInot"
             providerName=""
             connectionString = "Data Source=C:\Bogdan\Facultate\GitHub\University-Assignments\Fourth Semester\Systems-for-Design-and-Implementation\Lab04\Lab04-Java\identifier.sqlite"
        />
        <!--  <add name="tasksDB" connectionString="Database=mpp;Data Source=localhost;User id=test;Password=passtest;CharSet=utf8" /> -->
    </connectionStrings>
</configuration>