jdbc.url=jdbc:sqlite:C:\\Bogdan\\Facultate\\GitHub\\University-Assignments\\Fourth Semester\\Systems-for-Design-and-Implementation\\JavaAPI\\identifier.sqlite
#D:\\Facultate\\GitHub\\University-Assignments\\Fourth Semester\\Systems-for-Design-and-Implementation\\Lab04\\Lab04-Java\\identifier.sqlite
#C:\\Bogdan\\Facultate\\Sem2\\MPP\\Lab04-Java\\identifier.sqlite